<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>JoobiliWAR</display-name>
  <session-config>
    <session-timeout>20</session-timeout>
  </session-config>
  <context-param>
    <param-name>adminemail</param-name>
    <param-value>${adminemail}</param-value>
  </context-param>
    <context-param>
    <param-name>sitemappath</param-name>
	<param-value>${sitemappath}</param-value>
  </context-param>
  <context-param>
    <param-name>objectstorepath</param-name>
<!--    <param-value>c:/workspace/joobili/objects</param-value>-->
    <param-value>/joobilidata/objects</param-value>
<!--    <param-value>c:/temp/objects</param-value>-->
  </context-param>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>
   <error-page>
        <error-code>
            404
        </error-code>
        <location>
            /jsp/error.jsp
        </location>
    </error-page>
    <error-page>
        <error-code>
            410
        </error-code>
        <location>
            /jsp/error.jsp
        </location>
    </error-page>
   
  <servlet>
    <servlet-name>FileUploadService</servlet-name>
    <servlet-class>com.inepex.joobili.servlet.FileUploadService</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FileUploadService</servlet-name>
    <url-pattern>/Joobili/fileUploadService</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>MassEventUploadService</servlet-name>
    <servlet-class>com.inepex.joobili.servlet.MassEventUploadService</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MassEventUploadService</servlet-name>
    <url-pattern>/Joobili/massEventUploadService</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ShowImageService</servlet-name>
    <servlet-class>com.inepex.joobili.servlet.ShowImageService</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowImageService</servlet-name>
    <url-pattern>/img/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AuthService</servlet-name>
    <servlet-class>com.inepex.joobili.servlet.AuthServiceImpl</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AuthService</servlet-name>
    <url-pattern>/Joobili/authService</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>EventService</servlet-name>
    <servlet-class>com.inepex.joobili.servlet.EventServiceImpl</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EventService</servlet-name>
    <url-pattern>/Joobili/eventService</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DictService</servlet-name>
    <servlet-class>com.inepex.joobili.servlet.DictServiceImpl</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DictService</servlet-name>
    <url-pattern>/Joobili/dictService</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>PictureService</servlet-name>
    <servlet-class>com.inepex.joobili.servlet.PictureServiceImpl</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PictureService</servlet-name>
    <url-pattern>/Joobili/pictureService</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ForumService</servlet-name>
    <servlet-class>com.inepex.joobili.servlet.ForumServiceImpl</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ForumService</servlet-name>
    <url-pattern>/Joobili/forumService</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UserService</servlet-name>
    <servlet-class>com.inepex.joobili.servlet.UserServiceImpl</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserService</servlet-name>
    <url-pattern>/Joobili/userService</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>TestDataService</servlet-name>
    <servlet-class>com.inepex.joobili.servlet.TestDataServiceImpl</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TestDataService</servlet-name>
    <url-pattern>/Joobili/testDataService</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>FaceoffService</servlet-name>
    <servlet-class>com.inepex.joobili.servlet.FaceoffServiceImpl</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FaceoffService</servlet-name>
    <url-pattern>/Joobili/faceoffService</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>MailSenderService</servlet-name>
    <servlet-class>com.inepex.joobili.servlet.MailSenderServiceImpl</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MailSenderService</servlet-name>
    <url-pattern>/Joobili/mailSenderService</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AmazonService</servlet-name>
    <servlet-class>com.inepex.joobili.servlet.AmazonServiceImpl</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AmazonService</servlet-name>
    <url-pattern>/Joobili/amazonService</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>StaticpageService</servlet-name>
    <servlet-class>com.inepex.joobili.servlet.StaticpageServiceImpl</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StaticpageService</servlet-name>
    <url-pattern>/Joobili/staticpageService</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TestEJBMethods</display-name>
    <servlet-name>TestEJBMethods</servlet-name>
    <servlet-class>com.inepex.joobili.test.TestEJBMethods</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TestEJBMethods</servlet-name>
    <url-pattern>/Joobili/TestEJBMethods</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PromotedEvent</display-name>
    <servlet-name>PromotedEvent</servlet-name>
    <servlet-class>com.inepex.joobili.servlet.PromotedEventServiceImpl</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PromotedEvent</servlet-name>
    <url-pattern>/Joobili/promotedeventService</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PromotionListitem</display-name>
    <servlet-name>PromotionListitem</servlet-name>
    <servlet-class>com.inepex.joobili.servlet.PromotionListitemServiceImpl</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PromotionListitem</servlet-name>
    <url-pattern>/Joobili/promotionlistitemService</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SessionService</servlet-name>
    <servlet-class>com.inepex.joobili.servlet.SessionServiceImpl</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SessionService</servlet-name>
    <url-pattern>/Joobili/sessionService</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CityService</servlet-name>
    <servlet-class>com.inepex.joobili.servlet.CityServiceImpl</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CityService</servlet-name>
    <url-pattern>/Joobili/cityService</url-pattern>
  </servlet-mapping>  
  <servlet>
    <servlet-name>ObjectSerializerService</servlet-name>
    <servlet-class>com.inepex.joobili.servlet.ObjectSerializerServiceImpl</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ObjectSerializerService</servlet-name>
    <url-pattern>/Joobili/objectSerializerService</url-pattern>
  </servlet-mapping>  
  <servlet>
    <servlet-name>CityArranger</servlet-name>
    <servlet-class>com.inepex.joobili.servlet.admin.CityArranger</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CityArranger</servlet-name>
    <url-pattern>/Joobili/cityArranger</url-pattern>
  </servlet-mapping>  
  <servlet>
    <display-name>Captcha</display-name>
    <servlet-name>Captcha</servlet-name>
    <servlet-class>com.inepex.joobili.servlet.captcha.StickyCaptchaServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Captcha</servlet-name>
    <url-pattern>/captchaimage.jpg</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>TimerServlet</display-name>
    <servlet-name>TimerServlet</servlet-name>
    <servlet-class>com.inepex.joobili.servlet.timer.TimerServlet</servlet-class>
    <init-param>
      <param-name>shutdown-on-unload</param-name>
      <param-value>true</param-value>
    </init-param>
    <load-on-startup>2</load-on-startup>
  </servlet>
  <servlet>
    <description></description>
    <display-name>IndexServlet</display-name>
    <servlet-name>IndexServlet</servlet-name>
    <servlet-class>com.inepex.joobili.servlet.plainhtmlmirror.IndexServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>IndexServlet</servlet-name>
    <url-pattern>/index.html</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>IndexServlet</servlet-name>
    <url-pattern>/events/*</url-pattern>
  </servlet-mapping>
   <servlet-mapping>
    <servlet-name>IndexServlet</servlet-name>
    <url-pattern>/event/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>IndexServlet</servlet-name>
    <url-pattern>/festival/*</url-pattern>
  </servlet-mapping>  
  <servlet-mapping>
    <servlet-name>IndexServlet</servlet-name>
    <url-pattern>/members/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>IndexServlet</servlet-name>
    <url-pattern>/member/*</url-pattern>
  </servlet-mapping>
   <servlet-mapping>
    <servlet-name>IndexServlet</servlet-name>
    <url-pattern>/home</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>IndexServlet</servlet-name>
    <url-pattern>/admin/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>IndexServlet</servlet-name>
    <url-pattern>/page/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>IntervalDescriptionMigrate</display-name>
    <servlet-name>IntervalDescriptionMigrate</servlet-name>
    <servlet-class>
			com.inepex.joobili.servlet.IntervalDescriptionMigrateServiceImpl</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>IntervalDescriptionMigrate</servlet-name>
    <url-pattern>/Joobili/intervalDescriptionMigrate</url-pattern>
  </servlet-mapping>
  <servlet>
  	<description></description>
    <display-name>Error page</display-name>
    <servlet-name>Errorpage</servlet-name>
    <servlet-class>
			com.inepex.joobili.servlet.ErrorServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Errorpage</servlet-name>
    <url-pattern>/error</url-pattern>
  </servlet-mapping>
  <servlet>
  	<description></description>
    <display-name>Sitemap</display-name>
    <servlet-name>Sitemap</servlet-name>
    <servlet-class>
			com.inepex.joobili.servlet.sitemap.SitemapServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Sitemap</servlet-name>
    <url-pattern>/sitemap.xml</url-pattern>
  </servlet-mapping>
  <servlet>
  	<description></description>
    <display-name>SaveSitemap</display-name>
    <servlet-name>SaveSitemap</servlet-name>
    <servlet-class>
			com.inepex.joobili.servlet.sitemap.SaveSitemapServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SaveSitemap</servlet-name>
    <url-pattern>/savesitemap</url-pattern>
  </servlet-mapping>  
  <servlet>
  	<description></description>
    <display-name>DownloadSitemap</display-name>
    <servlet-name>DownloadSitemap</servlet-name>
    <servlet-class>
			com.inepex.joobili.servlet.sitemap.DownloadSitemap</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DownloadSitemap</servlet-name>
    <url-pattern>/downloadsitemap</url-pattern>
  </servlet-mapping>  
  <servlet>
    <description></description>
    <display-name>UrlData</display-name>
    <servlet-name>UrlData</servlet-name>
    <servlet-class>com.inepex.joobili.servlet.UrlDataServiceImpl</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UrlData</servlet-name>
    <url-pattern>/Joobili/urldataService</url-pattern>
  </servlet-mapping>
  <filter>
    <filter-name>gwtCacheControlFilter</filter-name>
    <filter-class>com.inepex.joobili.servlet.filter.GWTCacheControlFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>gwtCacheControlFilter</filter-name>
    <url-pattern>/com.inepex.joobili.JoobiliTest.nocache.js</url-pattern>
  </filter-mapping>
</web-app>